.main__body {
    .authentication__card {
        background-color: rgba(59, 73, 223, 0.10);
        border-radius: 5px;
        border: 1px solid rgba(9, 9, 9, 0.2);
        margin-bottom: 0.75rem;
        padding: 2rem;
        margin-left: 1rem;
        .authentication__body {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            .feed__container {
                display: flex;
                align-items: center;
                .feed__image-container {
                    height: 80px;
                    width: 80px;
                    margin-right: 2rem;
                    .feed__image {
                        border-radius: 10px;
                        transform: rotate(-10deg);
                        height: auto;
                        width: 100%;
                    }
                }
                .feed__title {
                    h2 {
                        font-size: 1.875rem;
                        a {
                            color: #3b49df;
                        }
                    }
                    p {
                        color: #575757;
                        font-size: 1.15rem;
                    }
                }
            }
            .feed__actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                .btn {
                    display: inline-block;
                    padding: 0.5rem 1rem;
                    color: #fff;
                    border-radius: 5px;
                    font-weight: 500;
                }
                .btn-blue {
                    background-color: #3b49df;
                }
                .btn-transparent {
                    background-color: transparent;
                    color: #3b49df;
                    ;
                }
            }
        }
    }
    .card {
        width: auto;
        margin-left: 15px;
        .card-body .btn-light {
            background-color: #e6e3e3;
            width: auto;
            color: #575757;
            font-weight: 400;
        }
    }
    .title {
        margin: 0 0 0.5rem 0;
        color: #090909;
        line-height: 1.25;
        font-size: 1.875rem;
        font-weight: bold;
        overflow-wrap: anywhere; // Sirve para romper una cadena dentro de una URL, para que no se desborde
        word-break: break-word; // Tiene la misma función que el overflow-wrap
        box-sizing: border-box;
        &:hover {
            color: #3B49DF;
        }
        a {
            color: inherit;
            display: block;
        }
    }
    .imgUser {
        width: 3rem;
    }
}

.main_card{
    .card-body{
        .dataAvatar{
            justify-content: flex-start;
            align-content: flex-start;

            .nickname {
                position: relative;
                font-weight: 500;
                color: #575757;
                line-height: 1.25;
                font-size: 0.875rem;
                padding: 0.25rem;
                margin-left: 5px;   
                &:hover {                                        
                    border-radius: 5px;
                    background-color: lighten(#3d3d3d, 72);
                }                                   
            }
    
            .date {
                color: #717171;
                line-height: 1.25;
                font-size: 0.75rem;
                &:hover {
                    color: black;;                           
                }   
            }    
        }
        
        .titlePost {
            margin: 0 0 0.5rem 0;
            color: #090909;
            line-height: 1.25;
            font-size: 1.875rem;
            font-weight: bold;
            overflow-wrap: anywhere; // Sirve para romper una cadena dentro de una URL, para que no se desborde
            word-break: break-word; // Tiene la misma función que el overflow-wrap
            box-sizing: border-box;
            &:hover {
                color: #3B49DF;
            }
        
            a {
                color: inherit;
                display: block;
            }  
        }
        .story-tags {
            margin-bottom: 0.5rem;
            margin-left: -0.25rem;
            
            .tag {
                font-size: 0.875rem;
                color: #717171;
                line-height: 1.3;
                border-radius: 5px;
                padding: 0.25rem;
                display: inline-block;
                box-sizing: border-box;
                &:hover {
                    color: black;;                           
                }                                   
    
                .prefix {
                    opacity: 0.4;
                    font-weight: normal;
                }
            }
        }

        .story-btn {
            padding-left: 0.5rem;
            font-weight: normal;
            border-width: 0px;
            position: relative;
            display: inline-block;
            padding: 0.25rem 0.75rem;
            border-radius: 5px;
            outline: none;
            font-family: inherit;
            font-size: 0.875rem;
            line-height: 1.5rem;
            text-align: center;
            text-decoration: none;
            border: 0px solid;
            background-color: transparent;
            border-color: transparent;
            box-shadow: none;
            color: #3d3d3d;
            
            &:hover {
                background-color: lighten(#3d3d3d, 72)                                                                 
            }  

            .icon {
                vertical-align: bottom;                                            
            }

            .s:inline {
                display: inline;
            }
        }
                                            
        .save-time {                                        
            font-size: 0.75rem;
            margin-right: 0.5rem;                                        
            color: #717171;
        }
        
        .delete-btn {
            font-weight: normal;
            position: relative;
            display: inline-block;
            padding: 0.25rem 0.75rem;                                    
            border-radius: 5px;
            outline: none;
            font-family: inherit;
            font-size: 0.875rem;
            line-height: 1.5rem;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            background-color: #d6d6d7;
            border-color: transparent;
            box-shadow: 0 1px 3px rgba(0,0,0,0.05);
            color: #3d3d3d;
            
            &:hover {                                        
                background-color: darken(#d6d6d7, 10);
            }   
        }
    }
}

.text_link {
    transition: transform 300ms ease;
    &:hover {
        color: #575757;
    }
}

.filter-post {
    display: flex;
    justify-content: space-between;
    .btn-filter:hover {
        font-weight: bolder;
    }
}

.filter-post {
    .dNone {
        display: none;
    }
}